[submodule "tileson_dll/tileson"]
	path = tileson_dll/tileson
	url = https://github.com/RobLoach/raylib-tileson.git
[submodule "raylib-bindings"]
	path = raylib-bindings
	url = https://github.com/vaiorabbit/raylib-bindings.git
